footer  {
  //background: radial-gradient(circle, #5bd2c6, #539e92, #53847f);
        background: #5a5a5a; 
  color: white;
 
  padding-left: 25px;
  position: absolute;
    
    width: 100%;

}

.elton-miranda {
  position: relative;
  top: 128px
}

.footer-home   {
 
}

.page-facebook {
  position: relative;
  left: 461px;
  bottom: 145px;
  height: 350px;
}

